In [1]:
# library load
import pandas as pd
import pyarrow
import numpy as np
import nflreadpy as nfl

from tabulate import tabulate
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pbp = nfl.load_pbp().to_pandas()
### code for reading base dataset
chi_b = nfl.load_team_stats(seasons=True).to_pandas()
chi_b = chi_b[chi_b['team']=='CHI'].copy()
chi_b = chi_b.reset_index(drop=True)
chi_b.head()

,season,week,team,season_type,opponent_team,completions,attempts,passing_yards,passing_tds,passing_interceptions,...,pat_att,pat_missed,pat_blocked,pat_pct,gwfg_made,gwfg_att,gwfg_missed,gwfg_blocked,gwfg_distance,game_id
0,1999,1,CHI,REG,KC,31,47,322,2,0,...,2,0,0,1.0,0,0,0,0,0,None
1,1999,2,CHI,REG,SEA,23,44,216,0,0,...,1,0,0,1.0,0,1,1,0,48,None
2,1999,3,CHI,REG,LV,23,35,216,2,1,...,2,0,0,1.0,0,0,0,0,0,None
3,1999,4,CHI,REG,NO,25,43,224,2,2,...,2,0,0,1.0,0,0,0,0,0,None
4,1999,5,CHI,REG,MIN,28,42,281,2,0,...,3,0,0,1.0,0,0,0,0,0,None

In [20]:
chi_game_results = nfl.load_schedules().to_pandas()
chi_win_stats = chi_game_results[(chi_game_results['away_team']=="CHI") | (chi_game_results['home_team']=="CHI")]
chi_win_stats[['season','week','away_team','away_score','home_team','home_score','result']].head()

    season  week away_team  away_score home_team  home_score  result
1     1999     1        KC          17       CHI          20       3
18    1999     2       SEA          14       CHI          13      -1
38    1999     3       CHI          17       OAK          24       7
45    1999     4        NO          10       CHI          14       4
65    1999     5       CHI          24       MIN          22      -2

In [21]:
keep_cols = ['season','week','away_team','away_score','home_team','home_score','result']
chi_win_stats = chi_win_stats[keep_cols]
chi_win_stats['chi_win'] = (
    ((chi_win_stats['home_team'] == 'CHI') & (chi_win_stats['result'] > 0)) |
    ((chi_win_stats['away_team'] == 'CHI') & (chi_win_stats['result'] < 0))
).astype(int)
chi_win_stats.head()

    season  week away_team  away_score home_team  home_score  result  chi_win
1     1999     1        KC          17       CHI          20       3        1
18    1999     2       SEA          14       CHI          13      -1        0
38    1999     3       CHI          17       OAK          24       7        0
45    1999     4        NO          10       CHI          14       4        1
65    1999     5       CHI          24       MIN          22      -2        1

In [22]:
#chi_b = chi_b.rename({'team':''})
chi_b.head()

,season,week,team,season_type,opponent_team,completions,attempts,passing_yards,passing_tds,passing_interceptions,...,pat_att,pat_missed,pat_blocked,pat_pct,gwfg_made,gwfg_att,gwfg_missed,gwfg_blocked,gwfg_distance,game_id
0,1999,1,CHI,REG,KC,31,47,322,2,0,...,2,0,0,1.0,0,0,0,0,0,None
1,1999,2,CHI,REG,SEA,23,44,216,0,0,...,1,0,0,1.0,0,1,1,0,48,None
2,1999,3,CHI,REG,LV,23,35,216,2,1,...,2,0,0,1.0,0,0,0,0,0,None
3,1999,4,CHI,REG,NO,25,43,224,2,2,...,2,0,0,1.0,0,0,0,0,0,None
4,1999,5,CHI,REG,MIN,28,42,281,2,0,...,3,0,0,1.0,0,0,0,0,0,None

In [23]:
print(chi_b.shape)
print(chi_win_stats.shape)

(448, 103)
(448, 8)

In [24]:
chi_full = pd.merge(chi_b, chi_win_stats, on=['season','week'], how='inner')
chi_full.shape

(448, 109)

In [25]:
chi_full.columns

Index(['season', 'week', 'team', 'season_type', 'opponent_team', 'completions',
       'attempts', 'passing_yards', 'passing_tds', 'passing_interceptions',
       ...
       'gwfg_missed', 'gwfg_blocked', 'gwfg_distance', 'game_id', 'away_team',
       'away_score', 'home_team', 'home_score', 'result', 'chi_win'],
      dtype='object', length=109)

In [26]:
chi_full.to_csv('data/base_data.csv', index=False)